.Rproj.user
.Rhistory
.RData
.Ruserdata
Outputbiogeobears
.DS_Store
Article/Article_files
Article/Previous_versions
Article/Submitted_files
Article/Ecol_letters
Article/Presubmission_enquiry
Article/Article_afterSubmissionPhD.pdf
Article/Article_afterSubmissionPhD.rmd
Article/Cover_letter.pdf
Article/Cover_letter.rmd
Scripts/Figures_res_for_presentation_PhD.R
Scripts/workingfile_garbage.R
Article/Article.rmd
Article/Article.pdf